*{
    ::-webkit-scrollbar {
        display: none; /* Hides scrollbar */
    }
    -ms-overflow-style: none;  /* Hides scrollbar in Internet Explorer and Edge */
    scrollbar-width: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    background-color: white;
    color: black;
}

.app.dark{
    background-color: rgba(0, 2, 31, 0.769);
    color: white;
}